.footercc {
  position: absolute; 
  bottom: 11.6px; 
  left: 10px; 
  color: #015469;
  font-size: xx-small;
}

.opacity30 {
  opacity: 0.3;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.imgspcl {
flex: 1;
max-width: 100%;
height: auto;
max-height: 200px;
}




